* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  /* time it takes colors to change when hovering or clicking buttons */
  transition: background-color .2s;
}

#calculator {
  background-color: #000;
  color: #fff;
  width: 360px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 125px repeat(5, 1fr);
  gap: 5px;
  padding: 5px;
}

#display {
  grid-column: 1 / 5;
  font-size: 400%;
  text-align: right;
  padding-top: 20px;
}
/* this class is added if answer is more than display can show */
.bigAnswer {
  font-size: 200% !important;
}

#clear {
  grid-column: 1/4;
  background-color: #a6a6a6;
  color: #000;
  border-radius: 20px;
}

#clear:hover {
  background-color: #afafaf;
}

#clear:active {
  background-color: #cecece;
}

/* +, -, *, /, and = buttons */
.operator {
  background-color: #ff9500;
}

.operator:hover {
  background-color: #fca225;
}

.operator:active {
  background-color: #ffbd61;
}

.numbers,
.decimal {
  background-color: #333333;
}

.numbers:hover,
.decimal:hover {
  background-color: #3b3b3b;
}

.numbers:active,
.decimal:active {
  background-color: #5b5b5b;
}

/* zero button is 2 columns */
#zero {
  grid-column: 1/3;
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  #calculator {
    max-width: 100vw;
    max-height: 90vh;
  }
  #display {
    font-size: 450%;
  }
  .container {
    background-color: #000;
  }
  
}


